<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/davidchu334">David Chu</a>
  </p>
  <p>
    David Loves building stuff.
  </p>



<div class="col-xs-12 col-sm-4">
  <%= image_tag 'chu.jpg', class: 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
  <h2 class="text-center">David Chu</h2>
  <br />
  <p>
    David Chu is a web developer who is specialized in Ruby on Rails. David has a variety of experiences in different industires such as business, design, and development.
  </p>
</div>

</div>
<br class="clear" />
<br />
<br />
<br />
<br />
